
h1 {color: #040029;}
body {background-color: black;}
h2 {color: #791818;}
p {color: #791818;}

h2.four {
    float: right;
    margin: 0;
    width: 50;
}

 
.right { 
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px; }
