
h1 {color: #040029;}
body {background-color: black;}
h2 {color: #791818;}
p {color: #791818;}

h2.four {
    float: right;
    margin: 0;
    width: 50;
}

.floatright { float: right; }
  
.center { 
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px; }
